.container {
  width: 400px;
  margin: 160px auto 0;
  padding: 30px 30px 20px;
  border-radius: 8px;
  background-color: #fff;

  .title {
    margin-bottom: 24px;
    color: #333;
    font-size: 30px;
  }
  
  .icon {
    color: #999;
  }
}
