.table {
  border-collapse: collapse;
}

.th {
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: 500;
}

.td {
  height: 30px; 
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

.win,
.upper {
  background-color: #ddf4dd;
}

.equal,
.lower {
  background-color: #ffffcc;
}

.lose {
  background-color: #fad1d1;
}

.extra {
  background-color: red;
}

.empty {
  background-color: #dfe2eb;
}

.white {
  background-color: #fff;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 20px;
  }
}




